@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header img {
  width: 50%;
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  header img {
    width: 100%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding-top: 20px;
}
footer h3 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 25px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
footer ul li {
  display: block;
  width: 100%;
}
footer ul li i {
  display: inline-block;
  margin-right: 10px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  position: relative;
}
footer ul li a:before {
  content: none;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 2%;
  }
  footer h3 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 15px;
    order: 2;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-right: 25px;
    width: 70%;
  }
  footer ul li {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  footer ul li i {
    display: inline-block;
    margin-right: 5px;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    position: relative;
  }
  footer ul li a:before {
    content: none;
  }
}
.search {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 17px;
}
.search input {
  border: none;
  background-color: #EAEAEA;
  width: 25%;
}
.search input::placeholder {
  opacity: 1;
  color: black;
}
@media screen and (max-width: 1024px) {
  .search .search {
    flex-direction: column;
    align-items: center;
  }
  .search .search input {
    width: 100%;
  }
}

.explo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explo section {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .explo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explo section {
    text-align: center;
  }
  .explo section br {
    display: none;
  }
}
.button {
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white; /* couleur du texte */
  border: none; /* pas de bordure */
  padding: 10px 20px; /* taille du padding */
  text-align: center; /* centrage horizontal */
  text-decoration: none; /* pas de soulignement */
  display: inline-block; /* afficher en ligne */
  font-size: 16px; /* taille de police */
  margin: 4px 2px; /* marges */
  cursor: pointer; /* curseur pointer au survol */
  border-radius: 25px; /* bords arrondis */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10%;
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7; /* Gris clair */
}
.section-restaurants h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.section-restaurants .container-cards {
  padding: 0 3%;
}
.section-restaurants .container-cards a {
  display: block;
  text-decoration: none;
  color: black;
}
.section-restaurants .container-cards a .card {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.section-restaurants .container-cards a .card img {
  width: 100%;
  height: 251px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.section-restaurants .container-cards a .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 3%;
  padding-top: 2%;
}
.section-restaurants .container-cards a .card .card-content .card-txt {
  padding-left: 3%;
}
.section-restaurants .container-cards a .card .card-content .card-txt h3 {
  margin-top: 2%;
}
.section-restaurants .container-cards a .card .card-content .card-txt p {
  margin-top: 0%;
  margin-bottom: 4%;
}
.section-restaurants .container-cards a .card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.section-restaurants .container-cards a .card p {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajout de la propriété pour coller les cartes ensemble */
    align-items: stretch;
  }
  .container-cards a {
    flex-basis: 48%; /* Ajuster en fonction de l'espace souhaité entre les cartes */
    margin-bottom: 20px; /* Ajouter un espacement vertical entre les cartes */
  }
  .container-cards .card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
  }
}
.container-etapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-etapes .etape {
  text-decoration: none;
  color: black;
  /* Background */
  background: #F7F7F7;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 2% 2% 2% 0;
  margin-bottom: 20px; /* Ajout de l'espace entre les containers */
}
.container-etapes .etape .number {
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}

h2 {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .container-etapes {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
  }
  .container-etapes .etape {
    flex-direction: row; /* Modifier la direction en ligne */
    align-items: center; /* Aligner les éléments sur la ligne */
    margin-bottom: 0;
    padding: 2%;
    margin-right: 20px; /* Ajouter un écart entre les conteneurs */
  }
  .container-etapes .etape .number {
    position: relative;
    margin-left: -16%; /* Déplacer le numéro de moitié vers la gauche */
    margin-right: 50px; /* Ajouter un espace entre le nombre et le contenu */
  }
}
.menu-container {
  background-color: #99E2D0;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  z-index: 2;
  position: relative;
}

.entree {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  margin: 0 auto 40px auto;
  text-decoration: none;
  color: black;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  cursor: pointer;
  padding-right: 2%;
  height: 80px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay i.fa-circle-check {
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1000ms;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label .overlay {
  width: 25%;
  opacity: 1;
}

h2 {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin-bottom: 0;
}

h3.tiret {
  margin-bottom: 20px;
  border-bottom: 3px solid #99E2D0;
  font-size: 18px;
  border-bottom-width: 3px;
  width: 3%;
}

h4 {
  margin-bottom: 5px; /* Ajustez la marge inférieure selon vos préférences */
  margin-left: 20px; /* Ajuste la marge gauche à 20 pixels */
}

.txt {
  margin: 0; /* Supprime la marge par défaut */
  margin-left: 20px; /* Ajuste la marge gauche à 20 pixels */
}

.argent {
  margin: 0;
  display: flex;
  width: 10%;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 1024px) {
  .container-global {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .entree {
    width: 70%;
    margin: 0 auto 20px auto;
  }
  .overlay {
    width: 110%;
    height: 105%;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ .overlay,
  .entree:focus-within .overlay {
    width: 25%;
    height: 105%;
  }
  .entree:hover .overlay {
    width: 25%;
    height: 121%;
  }
  .entree:active .overlay {
    width: 0;
    height: 121%;
  }
  i.fa-circle-check {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  h2 {
    border-radius: 10px 10px 0 0;
  }
  h3.tiret {
    width: 5%;
  }
  h4 {
    margin-left: 10px;
  }
  p {
    margin-left: 10px;
  }
  .argent {
    width: 20%;
  }
}
.heart .fa-regular.fa-heart {
  opacity: 1;
  position: relative;
  font-size: 25px;
}
.heart .fa-regular.fa-heart:hover .fa-solid.fa-heart {
  transform: scale(1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  opacity: 1;
  transition: all 600ms ease-in-out;
}
.heart .fa-regular.fa-heart .fa-solid.fa-heart {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scale(0);
}
.heart .fa-solid.fa-heart:hover .fa-regular.fa-heart {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
