.explo {

    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  section {
    text-align: center;
  }


}
@media screen and (min-width: 1024px) {
  .explo {
    display: flex;
    align-items: center;
    justify-content: center;


    section {
      text-align: center;

      br {
        display: none;
      }
    }
  }
}
