.explo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;

  h2, p {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .explo {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .explo h2 br,
  .explo p br {
    display: none;
  }
}


