.menu-container {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  z-index: 2;
  position: relative;
}

.entree {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  margin: 0 auto 40px auto;
  text-decoration: none;
  color: black;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  cursor: pointer;
  padding-right: 2%;
  height: 80px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  i.fa-circle-check {
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1000ms;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label .overlay {
  width: 25%;
  opacity: 1;
}
input[type="checkbox"]:checked + label .argent {
  margin-left: -10px;
}


.argent {
  margin: 0;
  display: flex;
  width: 10%;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}
$title-margin: 10px; // Ajustez la marge selon vos besoins
$heart-offset: 11px; // Ajustez le décalage vers le bas selon vos besoins

.title {
  display: flex;
  align-items: center;
  justify-content: center; // Centre horizontalement les éléments

  h2 {
    margin-right: $title-margin;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-bottom: 0;
    
  }

  .heart {
    flex-shrink: 0;
    position: relative; // Définit la position relative
    top: $heart-offset; // Décalage vers le bas du cœur
  }
}

  h3.tiret {
    margin-bottom: 20px;
    border-bottom: 3px solid #99E2D0;
    font-size: 18px;
    border-bottom-width: 3px;
    width: 3%;
    margin-left: 23px;

  }
  

h4 {
    margin-bottom: 5px; /* Ajustez la marge inférieure selon vos préférences */
    margin-left: 20px; /* Ajuste la marge gauche à 20 pixels */

  }
  
  .txt {
    margin: 0; /* Supprime la marge par défaut */
    margin-left: 20px; /* Ajuste la marge gauche à 20 pixels */
}



    @media (min-width: 1024px) {
      .menu-container {
        background-color: #F6F6F6;
        border-radius: 40px 40px 0 0;
        margin-top: -100px;
        z-index: 2;
        position: relative;
        width: 60%;
        left:19%;
      }   
    }