.container-entrees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .entree {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        isolation: isolate;
        width: 349px;
        height: 69px;
        text-decoration: none;
        color: black;
        /* Background */
        background: #F7F7F7;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 20px; /* Ajout de l'espace entre les conteneurs */
    }
  }

  .container-plats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .plat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        isolation: isolate;
        width: 349px;
        height: 69px;
        text-decoration: none;
        color: black;
        /* Background */
        background: #F7F7F7;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 20px; /* Ajout de l'espace entre les conteneurs */
    }
  }

  .container-desserts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .dessert {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        isolation: isolate;
        width: 349px;
        height: 69px;
        text-decoration: none;
        color: black;
        /* Background */
        background: #F7F7F7;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 20px; /* Ajout de l'espace entre les conteneurs */
    }
  }

  h2 {
    border-radius: 10px 10px 0 0; // Arrondir les deux bords supérieurs, avec une valeur de rayon de 10px
    overflow: hidden; // Masquer tout contenu débordant des bordures arrondies
    margin-bottom: 0; // Supprime la marge inférieure par défaut du h2

  }
  h3{ 
  margin-bottom: 0; // Supprime la marge inférieure par défaut du h3

}

h4 {
    margin-bottom: 5px; /* Ajustez la marge inférieure selon vos préférences */
  }
  
  h5 {
    margin: 0; /* Supprime la marge par défaut */
  }
  h6 {
    margin: 0;
    align-self: flex-end; /* Aligne l'élément à la même hauteur que l'élément <h5> */
    margin-top: -15px; /* Remonte l'élément de 10 pixels */
    margin-left: 10px; /* Déplace l'élément vers la gauche de 10 pixels */
}
     .entree {
        display: flex;
        flex-direction: column;
      }
      
      .plat {
        display: flex;
        flex-direction: column;
      }

      .dessert {
        display: flex;
        flex-direction: column;
      }