footer {
    background-color: $tertiary-color;
    color: white;
    padding-top: 20px;
  
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 25px;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      padding-left: 25px;
  
      li {
        display: block;
        width: 100%;
  
        i {
          display: inline-block;
          margin-right: 10px;
        }
  
        a {
          color: white;
          text-decoration: none;
          display: inline-block;
          padding: 0.5rem;
          position: relative;
  
          &:before {
            content: none;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 15px;
        order: 2;
      }
  
      ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-right: 25px;
  
        li {
          display: block;
          margin-right: 10px;
  
          i {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle; /* Ajouter l'alignement vertical au milieu */
          }
  
          a {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0.5rem;
            position: relative;
            vertical-align: middle; /* Ajouter l'alignement vertical au milieu */
  
            &:before {
              content: none;
            }
          }
        }
      }
    }
  }
  
  